[Desktop Entry]
Version=1.0
Type=Application
Name=Anaconda Navigator
GenericName=Anaconda Navigator
Exec={{ anaconda_path }}/bin/anaconda-navigator
Categories=Development;Science;
Icon={{ anaconda_path }}/lib/python3.9/site-packages/anaconda_navigator/static/images/anaconda-logo.svg
Terminal=false
