[Desktop Entry]
Version=1.0
Type=Application
Name=Anaconda Shell
GenericName=Anaconda Shell
Exec=bash -c "export PATH={{ anaconda_path }}/bin:$PATH && bash"
Categories=Development;Science;
Icon={{ anaconda_path }}/lib/python3.9/site-packages/anaconda_navigator/static/images/anaconda-logo.svg
Terminal=true
