[Desktop Entry]
Version=1.0
Type=Application
Name=ROOT
GenericName=ROOT
Exec=bash -c "source {{root_bin_path}}/bin/thisroot.sh && root"
Icon={{ root_bin_path }}/etc/notebook/kernels/root/logo-64x64.png
Categories=Development;Science;
Terminal=true
